<div class="row">
    <div class="jumbotron florida center-block">
        <img src="../img/logo.png" alt="UF Alumni" class="img-responsive alumni">
    </div>
</div>

<div class="container">
<blockquote>
  <h3>
  Hello! My name is Jonathan Poisson and I am a full-stack developer. I love tackling all sorts of challenges while working with Javascript, Java and Python. Below you can see a list of my recent projects, and books/tutorials I have completed or that I am currently working on.
  </h3>
</blockquote>
</div>

<h1 class="text-center">Recent Projects</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="http://socket.io/">
                                <img src="../img/socketio.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Ng2-Node-Chat</h4>
                    <p>Chat application using socket.io, angular 2, express and nodejs</p>
                    <img class="img-responsive" src="../img/chat.png" alt=""/>
                    <a target="_blank" href="https://github.com/PoissonJ/ng2-node-chat" class="btn">Github Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://cheerio.js.org/">
                                <img src="../img/cheero.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Ng2-Github-Scraper</h4>
                    <p>Angular 2 application to scrape github profile and build current streak</p>
                    <img class="img-responsive" src="../img/github-scraper-example.png" alt=""/>
                    <a target="_blank" href="https://github.com/PoissonJ/ng2-github-scraper-playground" class="btn">Github Link</a>
                </div>
            </div>
        </div>

      </div>
      <div class="row">


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="http://gulpjs.com/">
                                <img src="../img/gulp.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.browsersync.io/">
                                <img src="../img/browsersync.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Angular2-Nodejs-Seed</h4>
                    <p>Seed starter project for MEAN stack using Angular 2. Includes custom gulp tasks for build and developement and browsersync for live reload.</p>
                    <a target="_blank" href="https://github.com/PoissonJ/angular2-nodejs-seed" class="btn">Github Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.python.org/">
                                <img src="../img/python.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.djangoproject.com/">
                                <img src="../img/django.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Music building Recital Attendance</h4>
                    <p>Login system used to track Student's attendance to recitals at the Unversity of Florida School of Music. Built using Python and the Django framework.</p>
                    <img class="img-responsive" src="../img/mubra.png" alt=""/>
                    <a target="_blank" href="http://mubra.org" class="btn">Limited-access Homepage </a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<h1 class="text-center">Current and Completed Books and Courses</h1>

<h4 class="text-center">Currently working on...</h4>
<div class="text-center courses">
<ul>
  <li>Algorithims and Data Structures in Python  | Udemy.com</li>
  <li>Complete Python Web course | Udemy.com</li>
  <li>97 things every programmer should know | O'Reilly</li>
</ul>
</div>

<h4 class="text-center">2016</h4>
<div class="text-center courses">
<ul>
  <li>Java OOPS concepts | Udemy.com</li>
  <li>JUnit tutorial for beginners | Udemy.com</li>
  <li>Introduction to Typescript | Udemy.com</li>
  <li>Master the MEAN Stack | Udemy.com</li>
  <li>Angular2 and Node.js | Udemy.com</li>
  <li>Up and Runing with Angular JS 1 | Lynda.com</li>
  <li>Introducing the Javascript Language | Lynda.com</li>
  <li>Creating a Calculation Tool with AngularJS 1 | Lynda.com</li>
  <li>Javascript Functions | Lynda.com</li>
  <li>Node.js Essential Training | Lynda.com</li>
  <li>Migrating to Angular 2 | Packt publishing</li>
  <li>Javascript Testing with Jasmine | O'Reilly</li>
  <li>RESTful Web api design with Node.js | Packt publishing</li>
  <li>Express js in Action | Manning Publications</li>
</ul>
</div>

<h4 class="text-center">2015</h4>
<div class="text-center courses">
<ul>
  <li>Creating a First Website in DreamWeaver CC 2014 | Lynda.com</li>
  <li> Bootstrap Layouts: Responsive Single-Page Design | Lynda.com </li>
  <li>HTML5 Projects: Advanced To-Do List | Lynda.com</li>
  <li>Up and Running with Python | Lynda.com</li>
  <li>Java Advanced Training | Lynda.com</li>
  <li>Git Essential Training | Lynda.com</li>
  <li>PHP with MySQL Essential Training | Lynda.com</li>
  <li>PHP with MySQL Beyond the Basics | Lynda.com</li>
  <li>Python 3 Essential Training | Lynda.com</li>
</ul>
</div>
