<div class="row">
    <div class="jumbotron florida center-block">
        <img src="../img/logo.png" alt="UF Alumni" class="img-responsive alumni">
    </div>
</div>
<h1 class="text-center">Recent Projects</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="http://socket.io/">
                                <img src="../img/socketio.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Ng2-Node-Chat</h4>
                    <p>Chat application using socket.io, angular 2, express and nodejs</p>
                    <img class="img-responsive" src="../img/chat.png" alt=""/>
                    <a target="_blank" href="https://github.com/PoissonJ/ng2-node-chat" class="btn">Github Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://cheerio.js.org/">
                                <img src="../img/cheero.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Ng2-Github-Scraper</h4>
                    <p>Angular 2 application to scrape github profile and build current streak</p>
                    <img class="img-responsive" src="../img/github-scraper-example.png" alt=""/>
                    <a target="_blank" href="https://github.com/PoissonJ/ng2-github-scraper-playground" class="btn">Github Link</a>
                </div>
            </div>
        </div>

      </div>
      <div class="row">


        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://angular.io/">
                                <img src="../img/angular.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://nodejs.org/en/">
                                <img src="../img/nodejs.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="http://gulpjs.com/">
                                <img src="../img/gulp.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.browsersync.io/">
                                <img src="../img/browsersync.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Angular2-Nodejs-Seed</h4>
                    <p>Seed starter project for MEAN stack using Angular 2. Includes custom gulp tasks for build and developement and browsersync for live reload.</p>
                    <img class="img-responsive" src="../img/github-scraper-example.png" alt=""/>
                    <a target="_blank" href="https://github.com/PoissonJ/angular2-nodejs-seed" class="btn">Github Link</a>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="box">
                <ul class="list-inline center-block text-center">
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.python.org/">
                                <img src="../img/python.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="box-icon">
                            <a target="_blank" href="https://www.djangoproject.com/">
                                <img src="../img/django.png" alt="" class="img-responsive"/>
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="info">
                    <h4 class="text-center">Music building Recital Attendance</h4>
                    <p>Login system used to track Student's attendance to recitals at the Unversity of Florida School of Music. Built using Python and the Django framework.</p>
                    <img class="img-responsive" src="../img/mubra.png" alt=""/>
                    <a target="_blank" href="http://mubra.org" class="btn">Limited-access Homepage </a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <h1 class="text-center">Under Construction...</h1>
    <div style="text-align: center;">
        <i class="fa fa-cog fa-spin fa-5x"></i>
    </div>
</div>
