<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    <h1 class="text-center">Admin</h1>
    <hr>
    <a ng-href="#/admin/add"><button class="btn btn-primary center-block"><i class="fa fa-plus" aria-hidden="true"></i>Add post</button></a>
    <hr>
    <a ng-href="#/admin/edit"><button class="btn btn-warning center-block"><i class="fa fa-plus" aria-hidden="true"></i>Edit post</button></a>
    <hr>
    <a ng-href="#/admin/delete"><button class="btn btn-danger center-block"><i class="fa fa-plus" aria-hidden="true"></i>Delete post</button></a>
  </div>
</div>
