<div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h1 class="text-center">Blog</h1>
        <div class="post-preview" ng-repeat="blog in blogs">
            <a ng-href="#/post/{{blog._id}}">
                <h2 class="post-title">
                  {{blog.title}}
                </h2>
                <h3 class="post-subtitle">
                  {{blog.preview}}
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">{{blog.author}}</a> on September 24, 2014</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                </h2>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on September 18, 2014</p>
        </div>
        <hr>
        <div class="post-preview">
            <a href="post.html">
                <h2 class="post-title">
                    Science has not yet mastered prophecy
                </h2>
                <h3 class="post-subtitle">
                    We predict too much for the next year and yet far too little for the next ten.
                </h3>
            </a>
            <p class="post-meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</p>
        </div>
        <hr>
    </div>
</div>
